{% extends 'base.html' %}
{% load html %}
{% load i18n %}
{% load render_bundle from webpack_loader %}

{% block title %}
  {{ title | force_escape }}
{% endblock title %}

{% block header %}
  {% include child_templates.header %}
{% endblock %}

{% block wrapper_content %}
  <div id="masquerade">
    {% if child_templates.masquerade %}
      {% include child_templates.masquerade %}
    {% endif %}
  </div>
  <div id="credential-list"></div>
  <div id="credential-list-footer">
    {% include child_templates.footer %}
  </div>
{% endblock %}

{% block javascript %}
  {% render_bundle 'credential_list' 'js' %}

    {% block records_factory %}
      <script type="text/javascript">
      CredentialListFactory('credential-list', {
        // title: '{{title}}',
        programCerts: JSON.parse('{{program_certs|escapejs}}'),
        username: '{{username}}',
        lmsBaseUrl: '{{lms_base_url}}',
        recordsPrograms: JSON.parse('{{records_programs|escapejs}}'),
        // programHelp: '{{program_help}}',
        // helpUrl: '{{records_help_url}}',
        // profileUrl: '{{profile_url}}',
      });
      </script>
    {% endblock %}
{% endblock %}
